<h1>Employers#index</h1>

<table>
  <tr>
    <th>Номер</th>
    <th>Имя</th>
    <th>Фамилия</th>
  </tr>

  <% @employers.each do |employee| %>
    <tr id="empl_<%= employee.id %>">
      <td><%= employee.id %></td>
      <td><%= employee.name %></td>
      <td><%= employee.last_name %></td>
      <td>

      <a href="#"
        data-controller="employee"
        data-action="click->employee#delete"
        data-id="empl_<%= employee.id %>"
      >Удалить</a>

      </td>
    </tr>
  <% end %>

    <tr>
      <td>_</td>
      <td>
        <input type="text" id="new_name">
      </td>
      <td>
        <input type="text" id="new_last_name">
      </td>
      <td>
        <a href="#"
          data-controller="employee"
          data-action="click->employee#add"
        >Добавить</a>
      </td>
    </tr>

</table>
